body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 48px);
    grid-template-rows: repeat(9, 48px);
    gap: 5px;
}

.cell {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 2px solid #d77b7b;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cell:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(254, 58, 58, 0.5);
    transform: scale(1.05);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#message {
    margin-top: 10px;
    font-size: 1.2em;
    color: #ffffff;
}
