body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ddd;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
}

#message {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}
.difficulty-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.difficulty-box {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.difficulty-box:hover {
    background-color: #ccc;
}